
.startPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.startPage p {
    /* DARK MODE */
    color: gray;
}

.startPageExistingTasks {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.startPageButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6rem;
}

.startPageButtons button {
    padding: 0.5rem;
    width: 7rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(213, 213, 213);
    height: 3rem;
}

.startPageBtnUnmarkAll {
    background-color: rgb(237, 210, 146);
    color: rgb(151, 107, 4);
}

.startPageBtnMarkAll {
    background-color: rgb(215, 157, 20);
    color: rgb(237, 220, 181);
}

.taskDivider {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #aaa, transparent);
    margin: 0.5rem 0;
    border-radius: 1px;
}