
.displayWeeklyTasks {
    width: 90vw;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.8px solid rgba(128, 128, 128, 0.285);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.displayDoneWeeklyTasks {
    background-color: rgb(218, 218, 218);
    text-decoration: line-through;
}

.displayNotDoneWeeklyTasks {
    background-color: rgb(244, 244, 244);
}

.singleTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.singleTaskLeft {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.checkIcons {
    font-size: 1.3rem;
    color: rgb(91, 91, 91);
}

.iconTrashCan {
    color: rgb(119, 37, 37);
}