
.displayWeeklyTasks {
    width: 90vw;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.8px solid rgba(128, 128, 128, 0.285);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* DARK MODE */
    background-color: rgb(192, 192, 192);
}

.displayDoneWeeklyTasks {
    text-decoration: line-through;
    /* LIGHT MODE */
    /* background-color: rgb(218, 218, 218); */
    /* DARK MODE */
    background-color: rgb(83, 83, 83);
    
}

.displayNotDoneWeeklyTasks {
    /* LIGHT MODE */
    /* background-color: rgb(244, 244, 244); */
    /* DARK MODE */
    background-color: rgb(192, 192, 192);
}

.taskName {
    /* DARK MODE */
    color: rgb(42, 42, 42) !important; 
}

.singleTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.singleTaskLeft {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.singleTaskRight {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.checkIcons {
    font-size: 1.3rem;
    color: rgb(91, 91, 91);
}

.iconEdit {
    color: rgb(39, 79, 39)
}

.iconTrashCan {
    color: rgb(119, 37, 37);
}