
footer {
  /* LIGHT MODE */
    /* background-color: rgb(218, 218, 218); */
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p {
  font-size: 0.7rem;
  /* DARK MODE */
  color: rgb(182, 182, 182);
}