
header {
  /* LIGHT MODE */
    /* background-color: rgb(218, 218, 218); */
    /* DARK MODE */
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

header a {
    font-size: 1.6rem;
    /* LIGHT MODE */
    /* color: rgb(152, 152, 152); */
    /* DARK MODE */
    color: rgb(68, 68, 68);
}

.activeHeaderIconLink {
  /* LIGHT MODE */
  /* color: rgb(78, 78, 78); */
  /* DARK MODE */
  color: rgb(181, 181, 181);
  transform: scale(1.10);
}

.iconHome {
  font-size: 2.6rem;
}

