
header {
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

header a {
    font-size: 1.6rem;
    /* color: rgb(65, 65, 65); */
    color: rgb(152, 152, 152);
}

header a:hover {
  /* color: rgb(223, 171, 49); */
  color: rgb(78, 78, 78);
  transform: scale(1.10);
}

.iconHome {
  font-size: 2.6rem;
}

