

.toast, .editToast, .addDayToast {
  position: fixed;
  width: 80%;
  height: 25%;
  bottom: 22rem;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast, .editToast, .addDayToast {
  padding: 1rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, 20px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

.toastContent {
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.editField {
  width: 15rem;
}

.toastBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.toast button {
  border: none;
  width: 3rem;
  height: 2rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.editToast button {
  border: none;
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.addDayToast button {
  border: none;
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

.toastYesBtn, .editToastConfirmBtn, .dayToastConfirmBtn {
  background-color: rgb(90, 133, 90);
}

.toastNoBtn, .editToastCancelBtn, .dayToastCancelBtn {
  background-color: rgb(137, 45, 45);
}

.dayPicker {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  background-color: rgb(216, 216, 216);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}