
.mainGrid {
  display: grid;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100vh;
  width: 100vw;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    /* DARK MODE */
    background-color: rgb(27, 27, 27);
}