
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
button {
  /* height: 100dvh; */
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  /* LIGHT MODE */
  /* color: rgb(66, 66, 66); */
  /* DARK MODE */
  color: rgb(157, 157, 157);
}